.flexible-area {
    display: flex;
    padding-left: 3%;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%
}

h1 {
    font-size: 50px;
}

.link {
    text-decoration: none;
    background-color: black;
    border: 0px;
    color: darkgray;
    font-weight: 900;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
}

p {
    font-size: 30px;
}

span {
    color: red;
}

h3 {
    font-size: 30px;
}