.flexible-area {
    display: flex;
    margin-bottom: 10%;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 100%
}

h1 {
    font-size: 50px;
}

.link {
    text-decoration: none;
    background-color: black;
    border: 0px;
    color: darkgray;
    font-weight: 900;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
}

p {
    font-size: 30px;
}

span {
    color: red;
}

h3 {
    font-size: 30px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

body {
    margin: 0px;
}

.Dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    box-shadow: 10px 10px 40px green;
    padding-left: 20px;
    margin-left: 2%;
    margin-right: 2%;
    width: 46%
}

footer {
    text-align: center;
    font-size: 30px;
}

.orange-color {
    color: orange;
}